@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Candidates" asp-action="Index">Go to Candidate</a><br />
    <a asp-controller="Employees" asp-action="Index">Go to Employees</a><br />
    <a asp-controller="JobApplications" asp-action="Index">Go to JobApplication</a><br />
    <a asp-controller="JobListings" asp-action="Index">Go to JobListing</a><br />
    <a asp-controller="JobApplications" asp-action="CandidateFullJobs">Go to CandidateFullJobs</a><br />
</div>
